@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<script>

</script>
<!DOCTYPE html>

<html>
<head>
    <title> Web - Yohye</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=devie-width"
    <link href="index.css" rel="stylesheet">
</head>
<body>
    <h1><a href="~/index">WEB</a></h1>
    <ol>
        <li><a href="~/sub/1">HTML</a></li>
        <li><a href="~/sub/2">CSS</a></li>
        <li><a href="~/sub/3">JavaScript</a></li>
    </ol>
    <h2>Yohye</h2>
    <p>
        요혜는 최고의 웹프로그래머가 될거얌
    </p>

    <div class="container">
        <section class="item item-a">
            <h1>Section a</h1>
            <h2 style="background-color:coral;color:powderblue">JavaScript</h2>
            <p>
                Documents and downloadable media are made available to the network through web servers and can be accessed by programs such as web browsers. Servers and resources on the World Wide Web are identified and located through character strings called
                uniform resource locators (URLs).
                The original and still very common document type is a web
                page formatted in Hypertext Markup Language (HTML).
            </p>
        </section>
        <section class="item item-b">
            <h1>Section b</h1>
            <p>
                Multiple web resources with a common theme and usually a common domain name make up a website. A single web server may provide multiple websites, while some websites, especially the most popular ones, may be provided by multiple servers. Website content is provided by a myriad of companies, organizations, government agencies, and individual users; and comprises an enormous mass of educational, entertainment, commercial, and government information.
                The World Wide Web has become the world's dominant software platform.[2][3][4][5] It is the primary tool billions of people worldwide use to interact with the Internet.[6]
                The Web was originally conceived as a document management system.[7] It was invented by Tim Berners-Lee at CERN in 1989 and opened to the public in 1991.
            </p>
        </section>
    </div>
    <footer>
        footer
    </footer>
</body>
</html>