@{
    Layout = null;
}

@model IndexModel

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" initial-scale="1.0" />
        <link rel="stylesheet" href="~/css/style.css" />
        <title>Welcome to the Donghoons's Page</title>
    </head>
    <body>
        <div class="container">
            <div class="header">
                <h1><a href="#">FAMILY</a></h1>
                <div class="nav">
                    <ul>
                        <li><a href="">HOME</a></li>
                        <li><a href="#">김동훈</a></li>
                        <li><a href="#">황옥주</a></li>
                        <li><a href="#">김태건</a></li>
                        <li><a href="#">김태린</a></li>
                    </ul>
                </div>
            </div>
            <div class="hero">
                <h2>HAPPY OUR HOME</h2>
                <p>I wanny be happy and we make family. <br />Jesus, Please give us Happiness, healthy and Many Money :)</p>
                <button type="button" onclick="location.href='https://www.youtube.com/watch?v=JoiUC8j7bv4'">Watch Videos</button>
            </div>
        </div>
    </body>
</html>